@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&family=Pacifico&family=Roboto:wght@100;300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    text-decoration: none;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
body{
    overflow-x: hidden;
    background: #FFFFFF;
}
.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    width: 100%;
}
.header__content{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.header__content_adapt{
    display: none;
}
.logo{
    width: 120px;
    transition: 2s;
}
.logo:hover{
    transform: scale(1.1);
}
.header__menu{
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    align-items: center;
}
.li__link{
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    text-transform: capitalize;
    border-radius: 100vw;
    padding: .5rem 1rem;
    transition: .3s ease;
}
.li__link:hover{
    background: #3685FB;
    color: #FFFFFF;
}
.active{
    color: #3685FB;
}
.active:hover{
    background: none;
    color: #091F7F;
}


.header__btn{
    background: #3685FB;
    border-radius: 24.3452px;
    width: 120px;
    height: 40px;
    color: #FFFFFF;
    border: none;
    transition: 1s;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;

}
.header__btn:hover{
    box-shadow: 0 0 rgba(0, 0, 0, 0.4);
    border-bottom-width: 2px;
    transform: translateY(2px);
    background: #11142D;
}

/* title section */
.item{
    width: 100%;
    background: url("../icons/32e67497ae44212b0458a6f793b4cc15.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}
.item__container{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    background: white;
    padding: 5rem 5rem;
    opacity: 0.8;
}
.item__title{
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: black;
    text-transform: uppercase;
}
.item__title:hover{
    transition: 1s;
    letter-spacing: .5rem;
    color: #3685FB;
}
/* 1 section */
.content_contact{
    width: 100%;
    background: url("../icons/14-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content_contact__container{
    padding-top: 50px;
    display: flex;
    column-gap: 50px;
    padding-bottom: 50px;
}
.content__subtitle{
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: black;
    text-transform: uppercase;
}
.dist{
    margin-top: 10px;
}
.blue{
    color: #3685FB;
}
.num:hover{
    transition: 1s;
    padding-left: 31px;
}
.question__input{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.question__block{
    width: 80%;
    height: 120px;
    background: white;
    padding: 1rem 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    opacity: 0.8;
    border-radius: 32px 0px 32px 32px;
    transition: 1s;
}
.question__block:hover{
    border-radius: 50px;
}
.content__info{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background: white;
    border-radius: 20px;
    padding: 2rem 2rem;
    opacity: 0.8;
    transition: 1s;
}
.content__info:hover{
    transform: translateY(50px);
}
.question__subtitle{
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #11142D;
}
.field__title{
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.005em;
    color: white;
}
.info_field{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.field{
    width: 336px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 8px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.005em;
    color: #9A9AB0;
    padding-left: 10px;
}
.btn{
    font-weight: 0;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #3685FB;
    padding: 5px 50px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 50px;
    transition : 1s;
    transform: translateY(0);
    text-transform: uppercase;
}
.btn:hover{ 
    transition : 1s; 
    padding: 10px 44px; 
    transform : translateY(-0px);
    background-color: #11142D;
    color: #ffffff;
    border: solid 2px #ffffff;
    border-radius: 1px;
}
.field:hover{
    transition: 1s;
    transform: scale(1.1);
}
.info-you__fields{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.textarea{
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
}
/* footer */

.footer{
    padding: 0px 0px 5px 0px;
    background: url(../icons/wallpaperbetter\ \(1\).jpg);
    
}
.footer__container{
    width: 100%;
}
.footer__content{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
    flex-wrap: wrap;
}
.office__span{
    font-weight: 900;
}
.pay__logo{
    display: flex;
    justify-content: space-between;
}
.pay__icons{
    width: 30px;
    border-radius: 10px;
}
.info__desc{
    font-weight: 700;
    font-size: 26px;
    line-height: 60px;
    letter-spacing: 0.005em;
    color: #444;
    text-align: start;
    
}
.info__desc:hover{
    transition: 1s;
    color: DarkBlue;
}
.desc__paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.005em;
    color: #444;
}
.desc__paragraph:hover{
    transition: 1s;
    color: Black;
}
.footer__hr{
    margin-top: 50px;
    background: #555;
    height: 2px;
}
.hr__text{
    display: flex;
    justify-content: space-between;
}
.pay__icons__link:hover{
    transition: 1s;
    transform: scale(1.1);
}
@media(max-width: 762px){
    .header__menu{
        column-gap: 30px;
    }
}
@media (max-width: 691px){
    .header__menu{
        display: none;
    }
    .logo_link_adapt{
        display: flex;
        padding-top: 60px;
        justify-content: center;
    }
    .logo_link{
        display: none;
    }
    .path{
        display: flex;
        font-size: 34px;
        align-items: center;
        color: #3685FB  ;
    }
    .header__content_adapt{
        padding-top: 30px;
        display: flex;
        justify-content: space-around;
    }
}
@media (max-width: 424px){
    .path{
        font-size: calc(var(--block)/0.5);;
    }
    .logo{
        width: 50%;
    }
}
@media (max-width: 991px){
    .question__input{
        display: none;
    }
}
@media (max-width: 686px){
    .field, .btn{
        width: 100%;
    }
}
@media (max-width: 560px){
    .field{
        width: 50%; 
    }
    .question__subtitle{
        display: none;    
    }
    .field__title{
        display: none;
    }
    .btn{
        width: 50%;
        display: flex;
        justify-content: center;
        font-size: calc(var(--block)/0.5);;
    }
    .content__subtitle{
        font-size: calc(var(--block)/0.9);;
    }
}
@media (max-width: 436px){
    .item__title{
        font-size: calc(var(--block)/0.3);;
    }   
    .content_contact__container{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
    }
    .field, .btn{
        width: 100%;
    }
    .content__info{
        width: 100%;
    }
}